body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board {
  position: relative;
  margin: 20px;
  background-color: pink;
}

.piece {
  position: absolute;
  margin: 3;
  padding: 0;
  background-color: green;
  width: 64px;
  height: 64px;
  border: 1px solid red;
  font-size: 20px;
  text-align: center;
}
